*{
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
	padding:0;
	margin:0;
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
@font-face {
    font-family: 'latobold';
    src: url('../fonts/lato-bold-webfont.eot');
    src: url('../fonts/lato-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-bold-webfont.woff2') format('woff2'),
         url('../fonts/lato-bold-webfont.woff') format('woff'),
         url('../fonts/lato-bold-webfont.ttf') format('truetype'),
         url('../fonts/lato-bold-webfont.svg#latobold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'latoheavy';
    src: url('../fonts/lato-heavy-webfont.eot');
    src: url('../fonts/lato-heavy-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-heavy-webfont.woff2') format('woff2'),
         url('../fonts/lato-heavy-webfont.woff') format('woff'),
         url('../fonts/lato-heavy-webfont.ttf') format('truetype'),
         url('../fonts/lato-heavy-webfont.svg#latoheavy') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'latolight';
    src: url('../fonts/lato-light-webfont.eot');
    src: url('../fonts/lato-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-light-webfont.woff2') format('woff2'),
         url('../fonts/lato-light-webfont.woff') format('woff'),
         url('../fonts/lato-light-webfont.ttf') format('truetype'),
         url('../fonts/lato-light-webfont.svg#latolight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'latomedium';
    src: url('../fonts/lato-medium-webfont.eot');
    src: url('../fonts/lato-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-medium-webfont.woff2') format('woff2'),
         url('../fonts/lato-medium-webfont.woff') format('woff'),
         url('../fonts/lato-medium-webfont.ttf') format('truetype'),
         url('../fonts/lato-medium-webfont.svg#latomedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'latoregular';
    src: url('../fonts/lato-regular-webfont.eot');
    src: url('../fonts/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-regular-webfont.woff2') format('woff2'),
         url('../fonts/lato-regular-webfont.woff') format('woff'),
         url('../fonts/lato-regular-webfont.ttf') format('truetype'),
         url('../fonts/lato-regular-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'latosemibold';
    src: url('../fonts/lato-semibold-webfont.eot');
    src: url('../fonts/lato-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-semibold-webfont.woff2') format('woff2'),
         url('../fonts/lato-semibold-webfont.woff') format('woff'),
         url('../fonts/lato-semibold-webfont.ttf') format('truetype'),
         url('../fonts/lato-semibold-webfont.svg#latosemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}
*{
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
	padding:0;
	margin:0;
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
body{
	font-family: 'latomedium';
	font-size:14px;
	color:#4d4d4d;
}
input,select,textarea,form{
	font-family: 'latomedium';
}
*:focus, * , input[type="file"]:focus, input[type="radio"]:focus, input[type="checkbox"]:focus{
    outline: 0;
}
a:focus, img:focus{
	outline:none;
}
input[type="email"], input[type="search"], input[type="number"], input[type="password"], input[type="tel"], input[type="text"], select {
	width: 100%;
	padding:5px 10px;
	height:40px;
	background:#fff;
	border:0 none;
	border:none;
	color:#888888;
	font-size:16px;
	font-family: 'latoheavy';
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
	border-radius:5px;
	-webkit-appearance: none;
	border:1px solid #efefef;
	box-shadow:none;
}
input[type="email"]:focus, input[type="search"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="tel"]:focus, input[type="text"]:focus, select:focus{
	border:1px solid #ccc;
	box-shadow:none;
    -webkit-appearance: none;
}
select::-ms-expand { /* for IE 11 */
    display: none;
}
option{
	padding:5px 5px;
}
.btn-lg{
	height:54px;
}
.btn-lg, .btn-group-lg > .btn{
	font-size:16px;
	font-family: 'latoheavy';
	text-transform:uppercase;
	border:0 none;
}
.btn-primary{
	background:#33cccc;
}
.btn-default{
	border:2px solid #33cccc;
	background:#fff;
	color:#33cccc;
	text-transform:uppercase;
	min-width:145px;
	height:40px;
	line-height:24px;
}
.btn-default:hover{
	background:#16b9b9;
	border-color:#16b9b9;
	color:#fff;
}
.btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default, .btn-default:active:hover, .btn-default.active:hover, .open > .dropdown-toggle.btn-default:hover, .btn-default:active:focus, .btn-default.active:focus, .open > .dropdown-toggle.btn-default:focus, .btn-default.focus:active, .btn-default.active.focus, .open > .dropdown-toggle.btn-default.focus{
	background:#16b9b9;
	border-color:#16b9b9;
	color:#fff;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active:hover, .btn-primary.active:hover, .open > .dropdown-toggle.btn-primary:hover, .btn-primary:active:focus, .btn-primary.active:focus, .open > .dropdown-toggle.btn-primary:focus, .btn-primary.focus:active, .btn-primary.active.focus, .open > .dropdown-toggle.btn-primary.focus{
	background:#16b9b9;
	border:0 none
}
.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn.active.focus{
	outline:none;
}
.inner-wrapper{
	max-width:1200px;
	margin:auto;
}
.inner-wrapper:after{
	clear:both;
	content:"";
	display:table;
}
h2 {
    font-size: 18px;
    padding-bottom: 5px;
    text-transform: capitalize;
	font-weight:normal;
}
h3{
    font-size: 16px;
    padding-bottom: 5px;
    text-transform: capitalize;
	font-weight:normal;
	font-family: 'latoheavy';
}
img{
	max-width:100%;
}
/*styles for header*/
.header-top{
	background:#ff8537;
	padding:10px 0;
}
.logo{
	max-width:105px;
	float:left;
}
.partner-link{
	display:block;
	font-family: 'latobold';
	font-size:18px;
	text-transform:uppercase;
	text-decoration:none;
	color:#fff;
}
.partner-link:hover{	
	text-decoration:none;
	color:#fff;
}

.header-bottom{
	background:#fff;
}
.store-icon{
	margin-right:10px;
	display:inline-block;
	vertical-align:top;
}
.store-logo h2{
	line-height:32px;
}
.side-nav a{
	text-transform:uppercase;
	text-decoration:none;
	color:#565656;
}
.store-title{
	display:inline-block;
	vertical-align:top;
}

/*for login wrapper */
.login-wrapper{
	max-width:460px;
	margin: 60px auto;
	background:#fff;
	padding:25px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	-moz-box-shadow: 0 2px 10px #999;
	-webkit-box-shadow: 0 2px 10px #999;
	box-shadow: 0 2px 10px #999;
}
.login-wrapper:after{
	clear:both;
	content:"";
	display:table;
}
.login-container{
	background:#33cccc;
}
.forgot-password:after{
	clear:both;
	display:table;
	content:"";
}
.login-container input[type="email"], .login-container input[type="search"], .login-container input[type="number"], .login-container input[type="password"], .login-container input[type="tel"], .login-container input[type="text"], .login-container select{
	height:52px;
}
.forgot-password {
	margin:10px 0;
}
.forgot-password a{
	color:#8d8d8d;
	font-size:16px;
	text-decoration:underline;
}
.welcome-logo{
	text-align:center;
	margin: 15px auto 50px;
}	
.login-wrapper h2{
	margin-bottom:30px;
}

/*for register page*/
.register-wrapper form{
	max-width:542px;
	
}
.title-bar{
	background:#eafafa;
	padding:15px;
	margin:35px 0;
	height:60px;
	position:relative;
}
.title-bar h2{
	font-size:24px;
	font-family: 'latoheavy';
	color:#528282;
	font-weight:normal;
}
label{
	color:#555555;
	font-size:16px;
	font-family: 'latobold';
	font-weight:normal;
	text-transform:uppercase;
}
.social-links ul{
	list-style:none;
}
.social-links ul:after{
	clear:both;
	content:"";
	display:table;
}
.social-links li{
	float:left;
	margin-right:10px;
}
.social-links li a{
	text-indent:-9999em;
	display:block;
	width:30px;
	height:30px;
}
.fb a{
	background:url(../images/fb-icon.png) no-repeat left top;
	background-size:30px auto;
}
.twitter a{
	background:url(../images/twitter-icon.png) no-repeat left top;
	background-size:30px auto;
}
.form-group::after {
    clear: both;
    content: "";
    display: table;
}
.reset-password a{
	font-size:12px;
	color:#626262;
	text-decoration:underline;
	text-transform:uppercase;
}
/*btn group*/
.btn-group button{
	margin-right:10px;
}
.btn-group button:last-child{
	margin-right:0;
}
.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle), .btn-group button, .btn-group > .btn:last-child:not(:first-child), .btn-group > .dropdown-toggle:not(:first-child){
		-moz-border-radius:4px;
		-webkit-border-radius:4px;
		border-radius:4px;
}

/*profile section*/
.profile-detail-section{
	margin-bottom:35px;
}
.profile-detail-section:after{
	clear:both;
	content:"";
	display:table;
}	
.profile-thumb{
	width:140px;
	height:140px;
	background: url(../images/profile-icon.png) no-repeat center 38px #d6f5f5;
	float:left;
	margin-right:25px;
}
.profile-thumb input[type="file"]{
	background:none;
	opacity:0;
}
/*input type file*/
.bootstrap-filestyle .btn-default{
	background:transparent;
	border: 0 none;
	font-size:14px;
	font-family: 'latobold';
	color:#3f6868;
	text-transform:capitalize;
	min-height:inherit;
	height:140px;
	margin-right:20px !important;
}
.bootstrap-filestyle .btn-default:active:hover, .bootstrap-filestyle .btn-default.active:hover, .bootstrap-filestyle .open > .dropdown-toggle.btn-default:hover, .bootstrap-filestyle .btn-default:active:focus, .bootstrap-filestyle .btn-default.active:focus, .bootstrap-filestyle .open > .dropdown-toggle.btn-default:focus, .bootstrap-filestyle .btn-default.focus:active, .bootstrap-filestyle .btn-default.active.focus, .bootstrap-filestyle .open > .dropdown-toggle.btn-default.focus{
	background:transparent;
	border: 0 none;
	box-shadow:none;
}
.bootstrap-filestyle input[type="text"].input-large{
	display: none;
	background:url(../images/placeholder-sm.jpg) no-repeat left top;
	border:0 none;
	width:60px;
	height:60px;
	margin-right:20px;
	vertical-align:bottom;
}
.bootstrap-filestyle {
    float: left;
    position: absolute;
}
.profile-tag{
	color:#555;
	font-family: 'latosemibold';
	float:left;
	/*background:url(../images/cloud-icon.png) no-repeat left bottom;
	padding-bottom:25px;*/
}
.title-bar h3{
	color:#528282;
	text-transform:capitalize;
	padding:0;
	padding-left:15px;
	line-height:30px;
	font-size:24px;
	font-family: 'latoheavy';
}

/*input spinner*/
.spinner {
  width: 100px;
}
.spinner input {
    background: #c1f0f0 none repeat scroll 0 0;
    border: 0 none;
	color:#438d8d;
    padding: 30px 80px;
	line-height:1;
    text-align: center;
	font-family: 'latobold';
	font-size:40px;
	height:auto;
	min-width:276px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
}
.spinner input:focus, .spinner input:active{
	border:0 none;
}
.input-group.spinner .form-control:first-child{
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
}

.input-group-btn-vertical {
  position: relative;
  white-space: nowrap;
  width: 1%;
  vertical-align: middle;
  display: table-cell;
}
.input-group-btn-vertical > .btn {
  display: block;
  float: none;
  width: 100%;
  max-width: 100%;
  padding: 8px;
  margin-left: -1px;
  position: relative;
  border-radius: 0;
}
.input-group-btn-vertical > .btn:first-child {
  border-top-right-radius: 4px;
}
.input-group-btn-vertical > .btn:last-child {
  margin-top: -2px;
  border-bottom-right-radius: 4px;
}
.input-group-btn-vertical i{
  font-weight:normal;
  color:#565656;
}
.spinner-block:after{
	clear:both;
	content:"";
	display:table;
}
.spinner-block .spinner{
	float:left;
	margin-right:10px;
	position:relative;
}
.spinner .input-group-btn-vertical{
	position:absolute;
	left:0;
	top:0;
	z-index:9;
	width:100%;
}
.spinner-block .spinner:last-child{
	margin-right:0;
}
.spinner .input-group-btn-vertical .btn {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    float: left;
    position: absolute;
    top: 34px;
    width: auto;
	font-size:20px;
	box-shadow:none;
}
.btn-decre{
	left:35px;
}
.btn-incre{
	right:35px;
}
.icon{
	margin-right:5px;
}
.title-bar .icon{
	margin-right:10px;
	color:#55d4d4;
}
.register-wrapper .icon {
    display: inline-block;
    font-size: 30px;
    margin-right: 5px;
    vertical-align: middle;
    width: 30px;
}
.sku-details > p{
	background:url(../images/sku-icon.png) no-repeat left top;
	padding-left: 35px;
	font-family: 'latobold';
	font-size:16px;
}
.deal-inner-wrapper{
	padding:0 30px;
}

/*styles for menubar*/
#navbar{
	border-bottom:1px solid #ebebeb;
}	
.navbar-default{
	background:none;
	border:0 none;
	margin:0;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus, .navbar a:hover{
	background:none;
	border-bottom:4px solid #33cccc;
}
.navbar-default a{
	text-transform:uppercase;
	color:#565656;
	font-size:16px;
	font-family: 'latobold', sans-serif;
	border-bottom:4px solid transparent;
}

/*styles for dashboard*/
.performance-check{
	background:#f3fcfc;
	padding:45px 0 30px;
}
.transation-wrapper{
	-moz-box-shadow:1px 2px 15px rgba(0,0,0,0.10);
	-webkit-box-shadow:1px 2px 15px rgba(0,0,0,0.10);
	box-shadow:1px 2px 15px rgba(0,0,0,0.10);
}
.transaction-amount{
	color:#528282;
	font-size:48px;
	background:#fff;
	padding:30px 0;
	text-align:center;
	font-family: 'latoheavy';
}
.transaction-details{
	background:#ffa337;
	text-align:center;
	padding:15px 0;
	font-size:18px;
	color:#fff;
	text-transform:uppercase;
	font-family: 'latoheavy';
}
.btn-group-top{
	margin-top:20px;
}
.lead{
	color:#5a8888;
	font-size:24px;
	font-family: 'latomedium';
	text-transform:inherit;
}
.create-add-btn {
    position: absolute;
    right: 0;
    top: -24px;
    z-index: 99999999;
}
.create-add-btn .btn{
	border:0 none;
	-moz-border-radius:30px;
	-webkit-border-radius:30px;
	border-radius:30px;
	text-transform:uppercase;
	font-size:14px;
	color:#fff;
	height:50px;
	line-height:40px;
	min-width:140px;
	-moz-box-shadow:3px 0px 10px rgba(0,0,0,0.15);
	-webkit-box-shadow:3px 0px 10px rgba(0,0,0,0.15);
	box-shadow:3px 0px 10px rgba(0,0,0,0.15);
}
.create-add-btn .icon{
	margin-left:5px;
	
}
.performance-check .lead{
	padding-left:45px;
	background:url(../images/performance-icon.png) no-repeat 8px center;
	background-size: 29px auto;
}
.right-link {
    display: block;
    line-height: 60px;
    position: absolute;
    right: 35px;
    top: 0;
	font-size:18px;
	font-family: 'latobold';
	font-style:italic;
	color:#4d4d4d;
}
.right-link:hover{
	text-decoration:none;
}
/*styles for carousel*/
.carousel-control 			 { width:  4%; font-size:38px; }
.carousel-control.left,.carousel-control.right {margin-left:0;background-image:none;}
.carousel-control i {
    left: 0;
    margin-top: -19px;
    position: absolute;
    top: 50%;
}
.carousel-control.right i{
	right:0;
	text-align:right;
}
.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img{
	width:100%;
}
@media (max-width: 767px) {
	.carousel-inner .active.left { left: -100%; }
	.carousel-inner .next        { left:  100%; }
	.carousel-inner .prev		 { left: -100%; }
	.active > div { display:none; }
	.active > div:first-child { display:block; }

}
@media (min-width: 767px) and (max-width: 992px ) {
	.carousel-inner .active.left { left: -50%; }
	.carousel-inner .next        { left:  50%; }
	.carousel-inner .prev		 { left: -50%; }
	.active > div { display:none; }
	.active > div:first-child { display:block; }
	.active > div:first-child + div { display:block; }
}
@media (min-width: 992px ) {
	.carousel-inner .active.left { left: -25%; }
	.carousel-inner .next        { left:  25%; }
	.carousel-inner .prev		 { left: -25%; }	
}
/* carousel inner content*/
.customer-profile-wrapper{
	position:relative;
}
.customer-profile-details{
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	background:rgba(0,0,0,0.4);
	color:#fff;
	padding:12px;
}
.customer-profile-details h4{
	margin:0;
	padding:0;
	line-height:1;
	font-size:14px
}
.price-info{
	color:#ff8537;
	font-family: 'latobold';
	font-size:27px;
	margin-top:10px;
	line-height:1;
}
.price-info .icon{
	font-size:20px;
}
.time-info{
	padding:5px 0 5px 32px;
	position:relative;
	line-height:26px;
	color:#585858;
}
.time-info .icon {
    font-size: 26px;
    font-weight: normal;
    left: 0;
    position: absolute;
	color:#585858;
}
.attention-msg{
	right:0;
	position:absolute;
	top:0;
}
.attention-msg.danger{
	font-size:10px;
	color:#f2b5b5;
}
.customer-profile-wrapper > a {
    display: block;
    height: 220px;
    overflow: hidden;
}

/*for calender styles in header*/
.calender-startDate, .calender-endDate{
	float:left;
	position: relative;
}
.calender-startDate{
	margin-right:25px;
}
#calender-input{
	position:relative;
}
#calender-input .icon{
	position:absolute;
	top:12px;
	left:10px;

}
.around-you-section {
	margin:55px 0 30px;
}

.calender-startDate input, .calender-endDate input{
	padding:5px 10px 2px 38px;
	min-width:235px;
	border: 0;
}
/*styles for breadcrumbs*/
.breadcrumbs .icon{
	color:#55d4d4;
	font-size:24px;
	line-height:1;
}
.support-links{
	padding:45px 0 10px;
}
.dashboard-support-links {
	padding:0 0 30px;
}
.breadcrumbs{
	list-style:none;
	margin:0;
}
.breadcrumbs:after{
	clear:both;
	content:"";
	display:table;
}
.breadcrumbs li{
	float:left;
}
.breadcrumbs a{
	font-family: 'latomedium';
	font-size: 24px;
	color:#5a8888;
	padding:0 20px;
	display:inline-block;
	vertical-align:top;
	border-right:1px solid #b8c9c9;
	line-height:1;
}
.breadcrumbs li.active a{
	color:#415454;
	font-family: 'latosemibold';
}
.breadcrumbs li:last-child a{
	border:0 none;
}
.customer-selfie-container .customer-list-item{
	margin-bottom:20px;
}
/*styles for calendar*/
.calender-wrapper{
	font-family: 'latoheavy';
	font-size: 16px;
	line-height:24px;
}
.calender-wrapper .icon{
	margin-right:10px;
}

/* Manage deals style*/
.manage-deal-wrapper{
	-moz-box-shadow: 1px 2px 15px rgba(0,0,0,0.10);
	-webkit-box-shadow: 1px 2px 15px rgba(0,0,0,0.10);
	box-shadow: 1px 2px 15px rgba(0,0,0,0.10);
	margin:13px 0;
	background:#fff;
}
.manage-deal-wrapper .views{
	float:right;
	max-width:30%;
}
.manage-deal-wrapper .price-box{
	max-width:70%;
	float:left;
}
.manage-deal-wrapper .price-box .cash-back{
	font-size: 14px;
	color: #FFF;
	text-transform: uppercase;
	vertical-align: middle;
	line-height: 12px;
	margin-left: 10px;
}
.manage-deal-wrapper .views p{
	text-transform:uppercase;
	font-size:14px;
}
.manage-deal-wrapper .views .view-number{
	text-align:center; font-size:18px;
	line-height: 14px;
	padding-left: 10px;
}
.fa-eye{
	color:#fff;
	font-size:20px;
	margin-right:5px;
}
.sales-deatail-block{
	padding:15px;
	display:inline-block;
	width:100%;
}
.customer-num, .sales-num, .fund-num{
	font-size:14px;
	text-transform:uppercase;
	font-family: 'latomedium';
	width:100%;line-height: 24px;
}
.sales-num .fa-inr, .fund-num .fa-inr{color:#FF8537; font-size:18px; margin-right:5px; vertical-align: middle;}
.customer-num .fa-user{color:#FF8537; font-size:18px;}
.customer-num .abs-right, .sales-num .abs-right, .fund-num .abs-right{
	font-family: 'latoheavy';
	float:right; font-size:16px;
	text-align:right;
}
.share-wraper{ border-top:1px solid #ebebeb;}
.share-wraper .share-link{border-right:1px solid #ebebeb; }
.share-wraper .share-block{line-height: 50px; text-align: center;}
.share-wraper .share-link:last-child{border-right:0 none; padding-right:24px;}
.share-wraper .share-block a{
	font-size:14px; text-transform:uppercase;
	text-align:center; color:#33cccc;
	font-family: 'latobold';
}
.share-wraper .share-block .fa-share-alt{
	color:#33cccc;
	font-size:16;
}
.collage-wrapper .customer-profile-wrapper  > a{
	height:205px;
}
.collage-wrapper{
	-moz-box-shadow: 1px 2px 15px rgba(0,0,0,0.10);
	-webkit-box-shadow: 1px 2px 15px rgba(0,0,0,0.10);
	box-shadow: 1px 2px 15px rgba(0,0,0,0.10);

}

.input-medium{
	max-width:365px;
}

/*styles for product list*/
.product-list-wrapper ul{
	list-style:none;
}
.product-list > li{
	margin:0 0 30px 0;
}
.product-detail-wrapper {
    position: relative;
}
.product-list > li.mr0{
	margin-right:0;
}

.product-list h2{
	background:url(../images/stuff-icn.png) no-repeat left top;
	background-size:18px;
	padding-left:30px;
	margin-bottom:5px;
	color:#505050;
	font-size:18px;
	font-family: 'latosemibold';
	text-transform:inherit;
}
.product-list > li h2 a, .product-list > li h2 {
    color: #505050;
	text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.product-detail-wrapper{
	position:relative;
}
.product-detail-wrapper > .product-info-wrapper{
    position: absolute;
    bottom: 15px;
    left: 0px;
    z-index: 99;
	width:100%;
}
.product-detail-wrapper h3{
    font-size: 16px;
    color: #fff;
    padding: 0 15px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width:70%;
	display: inline-block;
	vertical-align:middle;
}
.product-detail-wrapper > h3 a{
	color:#fff;
	text-decoration:none;
}
.product-image{
	display:block;
	height:220px;
	overflow:hidden;
}
.product-image img{
	width:100%;
	height:auto;
	min-height:220px;
}
.product-image:after{
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0,0.3);
    width: 100%;
    height: 48px;
    z-index: 9;
}
.product-info-custom{
    padding: 15px;
    -moz-box-shadow: 2px 2px 10px rgba(0,0,0,0.15);
    -webkit-box-shadow: 2px 2px 10px rgba(0,0,0,0.15);
    -o-box-shadow: 2px 2px 10px rgba(0,0,0,0.15);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.15);
	background:#fff;
}
.special-price .label {
    padding-right: 10px;
    display: inline-block;
    vertical-align: top;
    color: #9b9b9b;
	font-size:14px;
	font-weight:normal;
	text-align:left;
	border-radius:0;
	padding-left:0;
	text-transform:capitalize;
}
.special-price{
    float: left;
    width: 56%;
   font-family: 'latomedium';
    text-transform: uppercase;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.special-price.pull-right{
	width:44%;
}
.special-price:after, .price-box:after{
	display:table;
	clear:both;
	content:"";
}
.price, .deal-price{
	display:inline-block;
	color:#f7743b;
}
.price .fa {
    font-size: 13px;
}
.download-section {
    margin: 0px 0 20px 35px;
}
.download-section img {
    height: 38px;
}
.distance{
	text-transform:capitalize;
}
.price-box{
	margin:0 0 5px;
}
.category > div{
	float:left;
	margin-right:5px;
	text-indent:-9999em;
	width:16px;
	height:16px;
}
.category ul:after{
	clear:both;
	content:"";
	display:table;
}
.category.pull-right{
	text-align:inherit;
}
.alcohol{
	background:url(../images/beer-icn.png) no-repeat right top;
	background-size:auto 16px;
}
.veg{
	background:url(../images/veg-icn.png) no-repeat left top;
	background-size:auto 16px;
}
.non-veg{
	background:url(../images/non-veg-icn.png) no-repeat left top;
	background-size:auto 16px;
}
.dealcategory-price .price{
	color:#4f4f4f;
}
.product-info-custom .distance{
	text-align:right;
	display:block;
}
/*for ratings*/
.product-rating-stars {
    position: absolute;
    right: 15px;
	top:0;
}
.sbHolder{
	width:120px;
}
.ratings img{
	max-width:16px;
}
/*++++++View store block+++++++*/
.view-store-header-block
{margin:30px 0;}
.share-button{
	margin-top:15%;
    vertical-align: bottom;
}
.share-button .btn-lg{
	width:100%;
	font-size:20px;
	height:51px;
	font-family: "latoheavy";
}
.view-store-header-block .detail-txt{}
.view-store-header-block .detail-txt p{line-height:24px; font-family: 'latomedium'; font-size:14px;}
.share-button .fa-share-alt{font-size:24; margin-right:10px;}
.view-store-random-txt{ border-left:1px solid #c2c2c2; padding:10px 0 10px 20px;}
.view-store-random-txt .header-txt{
	color:#292929;
	font-family: 'latobold';
	font-size:18px;
}
.view-store-random-txt .header-txt span{color:#555555; font-size:12px;}
.view-store-random-txt ul{overflow:hidden; margin-top:24px;}
.view-store-random-txt ul li{list-style:none; float:left;}
.view-store-random-txt ul li+li{padding-left:28px;}
.view-store-random-txt .fa-comment, .view-store-random-txt .fa-phone{font-size:18px; color:#51cbd3;}
.store-view-deatail-block{
	padding:10px 15px;
	display:inline-block;
	width:100%;
}	

.store-view-deatail-block p{margin-top:10px;}
.customer-profile-details h4.store-view-hd{ font-size:19px; font-family: 'latomedium'; line-height: 34px;}
.activity{}
 ul.activity{ border-top:1px solid #c2c2c2; border-bottom:1px solid #c2c2c2;}
.activity li{width:50%; margin-bottom:0;}
.activity li+li{border-left:1px solid #c2c2c2;}
.activity li.active a, .activity li.active a:hover,.activity li a:hover, .activity li.active a:focus{
	-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #fff;
    border-color: #ddd #ddd transparent;
    border-image: none;
    border-style: solid;
    border-width:0px;
    color: #131313;
	opacity:1;
    cursor: pointer;
	border-bottom: 4px solid #33cccc;
}
.activity li a{
	font-family: "latoheavy"; 
	text-align:center; 
	text-transform:uppercase;
	font-size:16px; color:#131313;
	border-bottom: 4px solid transparent;
	opacity:0.6;
	border:0 none;
}
.store-view-deal-tab{margin:30px 0 43px 0;}
.store-view-tab{margin:43px 0;}
.page-title{border-bottom:1px solid #c2c2c2; display:none; margin-top:5px;}
.page-title h2{
	text-align:left; text-transform:uppercase;
	line-height:24px; font-family: "latobold"; 
	border-bottom: 4px solid #33cccc;
	width: -moz-max-content;
	display: -moz-box;
}
.mobile-share{visibility: hidden;}
.mobile-share .fa-share-alt{color:#51cbd3; font-size: 18px;}

@media (max-width:767px){
	.create-add-btn {
		top: 0px;
		z-index: 99999999;
	}
	.detail-txt{margin:10px 0;}
	.share-button{display:none;}
	.page-title{display:block;}
	.mobile-share{ visibility:visible}
	.share-wraper .col-xs-12 .share-block{border-bottom:1px solid #ebebeb; }
	.share-wraper .col-xs-12:last-child .share-block{border-bottom:0 none;}
	.breadcrumbs{margin-bottom:15px;}
	.breadcrumbs a{font-size: 16px;}
	.spinner-block .spinner {
		float: none;
		margin-bottom: 10px;
		position: relative;
		width: 100%;
	}
	.performance-check .lead{ 
		background:rgba(0, 0, 0, 0) url("../images/performance-icon.png") no-repeat scroll 8px top / 29px auto;
		font-size:18px;}
	  .lead{font-size:18px;}
	  .title-bar h3{font-size:18px;}
	  .right-link{font-size:14px; padding:0 5px;}
	  .transaction-details{font-size:16px;}
	  .transation-wrapper{margin-bottom:20px;}
	  .carousel-control.right{right:20px;}
	  .btn-default{min-width:140px;}
	  .navbar-default .navbar-toggle{border-color:#fff;}
	  .navbar-toggle:before{
		  content:"Menu";
		  top:4px; left:-47px;
		  font-size:16px;
		  text-transform:uppercase;
		  position:absolute;
	  }
	  .store-view-deal-tab{margin:10px 0 23px 0;}
	  .store-view-tab{margin:23px 0;}
	  .navbar-default .navbar-toggle .icon-bar {
		background-color: #000;
	}
	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{ background-color:#fff;}
	#navbar{margin-bottom:15px;}
}
.calender-endDate .icon ,.calender-startDate .icon {
    left: 10px;
    position: absolute;
    top: 12px;
}
.profile-logout{}
.profile-logout ul{display:inline-block; margin:4px 0;}
.profile-logout ul li{float:left; padding-left:30px; list-style:none;}
.profile-logout ul li a{
	font-family: "latoregular",sans-serif;
    font-size: 12px;
	color: #fff;
    text-transform: uppercase;
}
.profile-logout a:hover, .profile-logout a:focus{
	color:#000;
	text-decoration:none;
}
.customer-div-ajax-loader {
	width: 100%;
	text-align: center;
}
.customer-div-ajax-loader .fa-pulse  {
	font-size: 60px;
	color: #528282;
}
.edit_profile_image_upload_loader{
	display: none;

}
.edit_profile_image_upload_loader .fa-spin  {
	font-size: 40px;
	color: #528282;
}

.image_upload_button {
    float: left;
    left: 164px;
    position: absolute;
    top: 26px;
}
.bootstrap-filestyle .store_imgs_div, .bootstrap-filestyle .deal_imgs_div {
    border: 0 none;
    width: 60px;
    height: 60px;
    margin-right: 20px;
    display: inline-block;
    vertical-align: bottom;
}
.bootstrap-filestyle .store_imgs_div img, .bootstrap-filestyle .deal_imgs_div img{ 
	width: 55px;
    height: 55px;
}
 #dealEndDatetime::placeholder, #dealStartDatetime::placeholder{
 font-size:14px;
}
#dealEndDatetime::-webkit-input-placeholder, #dealStartDatetime::-webkit-input-placeholder{
 font-size:14px;
}

#dealEndDatetime::-moz-placeholder, #dealEndDatetime:-moz-placeholder, #dealStartDatetime::-moz-placeholder, #dealStartDatetime:-moz-placeholder 
{  /* Firefox 19+ */
 font-size:14px;
}

#dealEndDatetime:-ms-input-placeholder, #dealStartDatetime:-ms-input-placeholder { 
 font-size:14px;
}

#calender-input input {
   padding: 5px 10px 2px 38px;
}
#calender-input input[type="text"] {
   border: 0 none;
}
.calender-endDate .icon{
   font-size: 20px;
}
#calender-input .fa-calendar{vertical-align:top;}
.calender-startDate .icon{
   font-size: 20px;
}

.radio label::after{
	right: -7px;
}
.radio label::before{
	right: -10px;
}

 /*Sticky Header*/
header{z-index:999999;}
header.sticky {
 position: fixed;
 width: 100%;
 border-bottom:1px solid #ebebeb;
}
header.sticky #navbar{border-bottom:0 none;}
.create-add-btn .CreateBtn{
       visibility:hidden;
       transition: opacity 1s ease 0;
}

/*Sticky Header*/
.chosen-container .chosen-drop, .chosen-container{
	transition:none;
}
