
.radio, .checkbox{
	margin-bottom:20px;
	margin-top:0;
}
.radio + .radio, .checkbox + .checkbox{
	margin-top:0;
	margin-bottom:0;
}
.radio {
  padding-right: 20px; }
  .radio label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 5px;
	line-height:1;
	width:100%;
	max-width:230px;
	}
    .radio label::before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 18px;
      height: 18px;
      right: 0;
	  top:50%;
	  margin-top:-9px;
      margin-left: -20px;
      border: 1px solid #cccccc;
      border-radius: 50%;
      background-color: #fff;
      -webkit-transition: border 0.15s ease-in-out;
      -o-transition: border 0.15s ease-in-out;
      transition: border 0.15s ease-in-out; }
    .radio label::after {
      display: inline-block;
      position: absolute;
      content: " ";
      width: 12px;
      height: 12px;
	  margin-top:-6px;
      right: 3px;
      top: 50%;
      margin-left: -20px;
      border-radius: 50%;
      background-color: #555555;
      -webkit-transform: scale(0, 0);
      -ms-transform: scale(0, 0);
      -o-transform: scale(0, 0);
      transform: scale(0, 0);
      -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33); }
  .radio input[type="radio"] {
    opacity: 0;
    z-index: 1; }
    .radio input[type="radio"]:focus + label::before {
      outline: thin dotted;
      outline: 5px auto -webkit-focus-ring-color;
      outline-offset: -2px; }
    .radio input[type="radio"]:checked + label::after {
      -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
      -o-transform: scale(1, 1);
      transform: scale(1, 1); }
    .radio input[type="radio"]:disabled + label {
      opacity: 0.65; }
      .radio input[type="radio"]:disabled + label::before {
        cursor: not-allowed; }
  .radio.radio-inline {
    margin-top: 0; }

.radio-primary input[type="radio"] + label::after {
  background-color: #337ab7; }
.radio-primary input[type="radio"]:checked + label::before {
  border-color: #337ab7; }
.radio-primary input[type="radio"]:checked + label::after {
  background-color: #337ab7; }


.radio-info input[type="radio"] + label::after {
  background-color: #5bc0de; }
.radio-info input[type="radio"]:checked + label::before {
  border-color: #5bc0de; }
.radio-info input[type="radio"]:checked + label::after {
  background-color: #5bc0de; }
 
.radio-info input[type="radio"]:checked + label{
	color:#5bc0de;
}

/*styles for checkboxes*/
.checkbox {
  padding-right: 20px; }
  .checkbox label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 5px;
	line-height:1;
	width:100%;
	max-width:230px;
	}
    .checkbox label::before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 18px;
      height: 18px;
      right: 0;
	  top:50%;
	  margin-top:-9px;
      margin-left: -20px;
      border: 1px solid #cccccc;
      border-radius: 0;
      background-color: #fff;
      -webkit-transition: border 0.15s ease-in-out;
      -o-transition: border 0.15s ease-in-out;
      transition: border 0.15s ease-in-out; }
    .checkbox label::after {
      display: inline-block;
      position: absolute;
      content: "\f00c";
      width: 12px;
	  font-family:FontAwesome;
      height: 12px;
	  margin-top:-8px;
      right: 5px;
      top: 50%;
      margin-left: -20px;
      border-radius: 0;
      background-color: #fff;
      -webkit-transform: scale(0, 0);
      -ms-transform: scale(0, 0);
      -o-transform: scale(0, 0);
      transform: scale(0, 0);
      -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33); }
  .checkbox input[type="checkbox"] {
    opacity: 0;
    z-index: 1; }
    .checkbox input[type="checkbox"]:focus + label::before {
      outline: thin dotted;
      outline: 5px auto -webkit-focus-ring-color;
      outline-offset: -2px; }
    .checkbox input[type="checkbox"]:checked + label::after {
      -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
      -o-transform: scale(1, 1);
      transform: scale(1, 1); }
    .checkbox input[type="checkbox"]:disabled + label {
      opacity: 0.65; }
      .checkbox input[type="checkbox"]:disabled + label::before {
        cursor: not-allowed; }
  .checkbox.checkbox-inline {
    margin-top: 0; }

.checkbox-primary input[type="checkbox"] + label::after {
  background-color: #337ab7; }
.checkbox-primary input[type="checkbox"]:checked + label::before {
  border-color: #337ab7; }
.checkbox-primary input[type="checkbox"]:checked + label::after {
  background-color: #337ab7; }


.checkbox-info input[type="checkbox"] + label::after {
   }
.checkbox-info input[type="checkbox"]:checked + label::before {
  border-color: #5bc0de; }
.checkbox-info input[type="checkbox"]:checked + label::after {
 }
 
.checkbox-info input[type="checkbox"]:checked + label{
	color:#5bc0de;
}

input[type="checkbox"].styled:checked + label:after,
input[type="radio"].styled:checked + label:after {
  font-family: 'FontAwesome';
  content: "\f00c"; }
input[type="checkbox"] .styled:checked + label::before,
input[type="radio"] .styled:checked + label::before {
  color: #fff; }
input[type="checkbox"] .styled:checked + label::after,
input[type="radio"] .styled:checked + label::after {
  color: #fff; }
